<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Build all.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>cv.jit.HSflow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>cv.jit.LKflow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>cv.jit.binedge.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>cv.jit.blobs.bounds.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>cv.jit.blobs.centroids.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>cv.jit.blobs.direction.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>cv.jit.blobs.elongation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>cv.jit.blobs.moments.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>cv.jit.blobs.orientation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>cv.jit.blobs.recon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>cv.jit.blobs.sort.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>cv.jit.canny.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>cv.jit.centroids.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>cv.jit.covariance.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>cv.jit.dilate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>cv.jit.erode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>cv.jit.extrema.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>cv.jit.faces.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>cv.jit.features.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>cv.jit.floodfill.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>cv.jit.hough.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>cv.jit.label.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>cv.jit.learn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>cv.jit.lines.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>cv.jit.mass.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>cv.jit.mean.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>cv.jit.moments.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>cv.jit.opticalflow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>cv.jit.ravg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>cv.jit.resize.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>cv.jit.shift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>cv.jit.snake.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>cv.jit.sum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>cv.jit.surf.match copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>cv.jit.surf.match.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>cv.jit.surf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>cv.jit.threshold.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>cv.jit.track.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>cv.jit.trackpoints.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>43B4A38F1AD82F1800F18A30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4584BE910100D4100DA7DA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B460571110E9995C002B2AD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4A3B9561016E16500C56B11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4C3B0C010EB828F005A82E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4E73DAC0E1888E9001E52BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4EE2EBF0D780844001E050C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEAB040CEE97BE00C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEAB0D0CEE97E400C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEACE30CEF01BF00C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEACF60CEF020C00C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEAD050CEF021200C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEAD140CEF021600C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEAD230CEF021900C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEAD380CEF02C000C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEAD540CEF05ED00C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEAD650CEF06B400C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEAD760CEF06D700C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEAD870CEF06F700C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEAD9A0CEF088800C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEADA60CEF089800C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEADB60CEF08E800C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEADC40CEF091F00C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEADD20CEF095000C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEADE00CEF09D100C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEADEE0CEF0A0A00C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEADFC0CEF0A3200C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEAE0C0CEF0AD100C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEAE1A0CEF0AF700C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEAE280CEF0B7000C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEAE440CEF0BBB00C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEAE520CEF0BFA00C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEAE600CEF0C1F00C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEAE6E0CEF0C4500C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEAE7E0CEF0CEA00C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEAE8C0CEF0D0100C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEAF0B0CEF128D00C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEAF1B0CEF132200C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEAF290CEF134B00C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEAF370CEF136900C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
